name = "SpeedyWeatherAssets"
uuid = "a0782e9d-f645-4ea0-b6ee-5b455d742f92"
authors = ["Milan Kloewer <milankloewer@gmx.de> and contributors"]
version = "1.0.0"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
